.my-daily-notes-hidden-date-picker {
  position: fixed !important;
  pointer-events: none;
  opacity: 0;
}

.my-daily-note-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 1px dashed var(--table-border-color);
  font-size: 0.9em;
}

.is-mobile .my-daily-note-navigation {
  margin-bottom: 0;
}

.my-daily-note-navigation-link {
  cursor: pointer;
  text-decoration: none;
}

.my-daily-note-date-picker-btn {
  cursor: pointer;
}

.inline-title[data-day]::after {
  content: "【" attr(data-day) "】";
  color: var(--text-faint);
  font-size: 0.9em;
}
